{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create an account{% endblock %}
{% block content %}
    <h1>Create an account</h1>
    {% for error in user_form.errors %}
    {{ error|crispy }}
    {% endfor %}
    <div class="register-form">
        <form action="{% url 'account:register' %}" method="post">
            {{ user_form|crispy }}
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
{% endblock %}