{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Create an account{% endblock %}
{% block style %}
    <style>
        #div_id_site_url {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container offset-3 col-6">
        <h1>Create an account</h1>
        {% for error in user_form.errors %}
        {{ error|crispy }}
        {% endfor %}
        <div class="register-form">
            <form id="registerForm" action="{% url 'account:register' %}" method="post">
                {{ user_form|crispy }}
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src='{% static "js/registerForm.js" %}'></script>
{% endblock %}