{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% block style %}
    <link rel="stylesheet" href="{% static "css/placer.css" %}">
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.ui.rotatable.css">
{% endblock %}
{% block title %} Placer {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-2">
            <form method="post" id="laptopChoosingForm">
                {{ laptopForm|crispy }}
            </form>
        </div>
        <div class="col-8">
            <div class="container-fluid col-12" id="workArea">
                <img id="laptopImage" src="" class="img-fluid" alt="Responsive image">
            </div>
            <div id="laptopSize" class="col-2 offset-10"></div>
        </div>
        <div class="col-2">
            {% include "stickers/sticker_choise.html" %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous">
    </script>
    <script src="/static/js/jquery.ui.rotatable.min.js"></script>
    <script src="/static/js/ajaxSetup.js"></script>
    <script src="/static/js/calculatingPosition.js"></script>
    <script src="/static/js/laptopChoosing.js"></script>
    <script src="/static/js/stickerChoosing.js"></script>
    <script src="/static/js/searchByTags.js"></script>
    <script src="/static/js/uploadingStickers.js"></script>
    <script src="/static/js/actionOnResize.js"></script>
{% endblock %}