#laptopStickers{
    padding: 15px;
}
hr {
    border-top: 3px solid #a13076a8;
	border-bottom: 3px solid #f5725894;
	background: #ffd045a0;
    height: 2px;
    margin-top: 1px;
    margin-bottom: 15px;
}

.navbar a {
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: #bf1386;
    text-shadow: #877885de 1px 1px 0, #877885de -1px -1px 0,
                 #877885de -1px 1px 0, #877885de 1px -1px 0;
    font-size: 125%; padding-top:20px; padding-left: 15px;
}

.navbar a:hover {
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: #f5e451fc;
}