iframe.width-changed {
    width: 100%;
    display: block;
    border: 0;
    height: 0;
    margin: 0;
}

.remove_sticker{
    font-size: 100%;
    display: none;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    right: 3%;
    top: 0;
}

.ui-rotatable-handle{
    position: absolute;
    display: none;
    top: -15%;
}
.heading_navbar{
    font-family: Brush Script MT, Brush Script Std, Snell Roundhand, URW Chancery L, cursive;
    color: #f9fc28;
    font-size: 150%;
    position: relative;
    top: 10px;
    left: -25px;
    text-shadow: #a618a8 2px 1px 1px, #a618a8 -1px -1px 1px,
                 #a618a8 -1px 3px 1px, #a618a8 1px -1px 1px;
}
.sticker_div_rotatable{
    width: 100%;
}
.sticker_image{
    display: block;
    width: 100%;
}

#stickers_block{
    display: none;
    max-height: 200px;
    overflow-y: scroll;
}

#workArea{
    overflow: hidden;
}

.siteLabel{
    position: absolute;
    right: 3px;
    bottom: 3px;
    z-index: 100;
}