{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% block style %} <link rel="stylesheet" href="{% static "css/laptop.css" %}"> {% endblock %}
{% block title %} Laptop list {% endblock %}
{% block content %}
    <div class="row col-3">
        <form enctype="multipart/form-data" method="post">
            {{ form.manufacturer|as_crispy_field }}
            {{ form.model|as_crispy_field }}
            <div class="row">
                <div class="col-6">{{ form.height|as_crispy_field }}</div>
                <div class="col-6">{{ form.width|as_crispy_field }}</div>
            </div>
            {{ form.image|as_crispy_field }}
            {% csrf_token %}
            <button type="submit" name="add_laptop" class="btn btn-primary">Add laptop</button>
        </form>
    </div>
    <div class="row" id="laptops">
        {% for laptop in laptops %}
            {% thumbnail laptop.image "300x150" as im %}
            <div class="laptop col-3">
                <img class="image-fluid" src="{{ im.url }}">
            {% endthumbnail %}
                <p class="title">{{ laptop.manufacturer }}</p>
                <p>{{ laptop.model }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
