{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% block style %} <link rel="stylesheet" href="{% static "css/sticker.css" %}"> {% endblock %}
{% block title %} sticker list {% endblock %}
{% block content %}
    <div class="row col-3">
        <form action="" enctype="multipart/form-data" method="post">
            {{ form.name|as_crispy_field }}
            <div class="row">
                <div class="col-6">{{ form.height|as_crispy_field }}</div>
                <div class="col-6">{{ form.width|as_crispy_field }}</div>
            </div>
            {{ form.tags|as_crispy_field }}
            {{ form.image|as_crispy_field }}
            {% csrf_token %}
            <button type="submit" name="add_sticker" class="btn btn-primary">Add sticker</button>
        </form>
    </div>
    <div class="row" id="stickers">
        {% for sticker in stickers %}
            {% thumbnail sticker.image "150x150" format='PNG' as im%}
            <div id="sticker_block_{{ sticker.id }}" class="sticker col-3 mx-auto">
                <div class="mx-auto">
                    <img class="image-fluid" width="150" height="150" src="{{ im.url }}">
                </div>
            {% endthumbnail %}
                <div class="text-center title">{{ sticker.name }}</div>
                <button onclick="deleteStickerFromDB(this)" data-sticker="{{ sticker.id }}" class="btn bg-info delete_sticker" >X</button>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/js/deleteSticker.js"></script>
    <script src="/static/js/ajaxSetup.js"></script>
{% endblock %}
