{% load static %}
<div class="container-fluid" id="laptopStickers">
<div class="container">
    <nav class="navbar navbar-expand-lg ">
         <a class="navbar-brand" style="padding-top:0; padding-bottom:0;" href="{{ base_url }}">
        <img src="{{ base_url }}{% static 'labels/logo.png' %}" width="320" height="65" class="d-inline-block align-top" alt="" loading="lazy">
        </a>
    </nav>
    <hr>
</div>
<div class="container" id="laptop_stickers_content">
    {% block content %}{% endblock %}
</div>
<script>
    let stickers_site_url = '{{ base_url }}';
</script>
<script src="{{ base_url }}{% static 'js/uploadStaticAndScripts.js' %}"></script>
{% block scripts %} {% endblock %}
</div>