{% extends "base_api.html" %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-2">
            <form method="get" id="laptopChoosingForm">
                {{ laptopForm|crispy }}
            </form>
        </div>
        <div class="col-8">
            <div class="container-fluid col-12" id="workArea">
                <img id="laptopImage" src="" class="img-fluid" alt="Responsive image">
            </div>
            <div id="laptopSize" class="col-2 offset-10"></div>
        </div>
        <div class="col-2">
            {% include "stickers/sticker_choise.html" %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}