{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block style %}   {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
    <body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg ">
             <a class="navbar-brand" style="padding-top:0; padding-bottom:0;" href="{% url 'workArea:workArea' %}">
            <img src="{% static 'labels/logo.png' %}" width="320" height="65" class="d-inline-block align-top" alt="" loading="lazy">
            </a>
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link {% if request.path == '/laptop/' %}active {% endif %}" href="/laptop">Laptops</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if request.path == '/sticker/' %}active {% endif %}" href="/sticker">Stickers</a>
                  </li>
                     {% if request.user.is_authenticated %}
                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{ request.user }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="">Profile</a>
                                  <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
                            </div>
                          </li>
                     {% else %}
                         <li class="nav-item">
                            <a class="nav-link" href="{% url 'account:login' %}">Login</a>
                         </li>
                     {% endif %}
                </ul>
        </nav>
        <hr>
    </div>
        <div class="container-fluid" id="laptopStickers">
            {% block content %}{% endblock %}
        </div>
        <script>
            let stickers_site_url = '';
            let api_or_not = '';
        </script>
        {% block scripts %} {% endblock %}
    </body>
</html>