<form id="sticker_search" method="get" style="margin-bottom: 10px">
    <div class="form-group">
        <label for="id_tag" class="requiredField">Search by tags</label>
        <input type="text" name="tag" class="textinput textInput form-control" required id="id_tag">
        <small id="hint_id_tag" class="form-text text-muted">comma separated tags</small>
    </div>
    <input id="id_site_name" name="site_name" type="hidden" value="{{ site_name }}">
    <button id="search_by_tags_button" class="btn btn-primary" disabled>Show</button>
</form>
<div id="stickers_block" class="col-12">
    {% include 'stickers/stickers_for_placer_render.html' %}
</div>
{% block scripts %}
{% endblock %}