{% load thumbnail %}
{% for sticker in stickers %}
    {% if forloop.counter0|divisibleby:"2" or forloop.counter == 1 %}
        <div class="row">
    {% endif %}
        <div class="col-6">
            <button class="btn"
                    onclick="addSticker(this)"
                    data-url="{{ sticker.image.url }}"
                    data-w="{{ sticker.width }}"
                    data-h="{{ sticker.height }}">
                    {% thumbnail sticker.image "50x50" format='PNG' as im %}
                        <img class="image-fluid" src="{{ base_url }}{{ im.url }}">
                    {% endthumbnail %}
            </button>
            {% if sticker.owner.profile.is_site_owner %}
                <a class="siteLabel" target="_blank" title="{{sticker.source_url}}" class="label" href="{{sticker.source_url}}">
                    {% thumbnail sticker.owner.profile.site_label "20x20" format='PNG' as im %}
                        <img class="image-fluid" src="{{ base_url }}{{ im.url }}">
                    {% endthumbnail %}
                </a>
            {% endif %}
        </div>
    {% if forloop.counter|divisibleby:"2"%}
        </div>
    {% endif %}
{% endfor %}
{% if stickers_ids %}
    <div id="stickers_ids" style="display: none" data-stickers_ids="{{ stickers_ids }}"></div>
{% endif %}