#laptopStickers{
    padding: 15px;
}
hr {
    border-top: 3px solid #a13076a8;
	border-bottom: 3px solid #f5725894;
	background: #ffd045a0;
    height: 2px;
    margin-top: 1px;
    margin-bottom: 15px;
}